body, html {
  height: 100%;
}
/* footer rectangles */
.rect {
	position: relative;
	height: 120px;
  background: #232E39;
  padding-top: 1%;
  font-size: 1.2em;
}
.rect-left {
  z-index: 1;
  float: left;
  width: 55%;
}
.rect-right {
  z-index: 2;
  float: right;
  width: 44%;
}
.rect img {
  margin-top: -8%;
  height: 8rem;
}

.rect:after,
.rect:before {
content: "";
position: absolute;
top: 0;
width: 0;
height: 0;
}
.rect-left:after {
  right: 0;
  border-left: 100px solid #232E39;
  border-bottom: 120px solid white;
}
.rect-right:before {
  left: -100px;
  border-right: 100px solid #232E39;
  border-top: 120px solid rgba(0, 0, 0, 0); 

}



/* text effect css for footer */
#thanks span {
  color: white;
  cursor: cell;
  text-align: center;
  transition: color 3s;
  transition-delay: 1s;
}

#thanks span:hover {
  transition: color 0s;
}

#thanks span:nth-child(1n):hover {
  color: #A8E6CF;
}

#thanks span:nth-child(2n):hover {
  color: #DCEDC1;
}

#thanks span:nth-child(3n):hover {
  color: #FFD3B6;
}

#thanks span:nth-child(4n):hover {
  color: #FFAAA5;
}

#thanks span:nth-child(5n):hover {
  color: #FF8B94;
}

.parallax {
  height: 70vh;
  background-image: url('/img/group/group-silly1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

#cohort-name {
  top: 250px;
  left: 0;
  width: 100%;
  position: absolute;
}

#cohort-name h1{
  font-family: 'Bungee Shade', cursive;
  font-size: 4.5rem;
  color: #e6e6e6;
}

.meet-our-class {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
}

.senior-quote {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.student-icons {
  text-align: center;
}

.student-name {
  padding-top: 12px;
  padding-bottom: 8px;
  text-align: center;
}

.fa-linkedin-in {
  padding: 0px 20px;
  color: #0076B5;
}

.fa-github-alt {
  color: #24292e;
}

.fa-globe {
  color: #f0452d;
  text-align: center;
}

.student-name {
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
}

.fa-linkedin-in {
    padding: 0px 20px;
    color: #0076B5;
}

.fa-github-alt {
    color: #24292e;
}

.fa-globe {
    color: #f0452d;
}

.bounce {
    position: absolute;
    bottom:0;
    margin-left:48%;
    animation: bounce 3s ease-in-out infinite; 
    -webkit-animation: bounce 3s ease-in-out infinite; 
    -moz-animation: bounce 3s ease-in-out infinite; 
    -o-animation: bounce 3s ease-in-out infinite; 
}

.bounce i {
  color: white;
  font-size: 4rem;
}

@keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-o-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}


/* Technologies Section */
.colored {
    font-size: 5rem;
}

.align-devicons-center {
    text-align: center;
}

.technologies-header {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 3.0rem;
}
/* Student card styling */

.sidebar_wrapper {
  width: 100%;
  max-width: 20rem;
}

.about-dev {
  width: 96%;
  max-width: 26rem;
  margin: auto;
  animation: profile_in 0.8s;
}

.senior-quote {
  text-align: center;
}

@keyframes profile_in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* student card header */

.student-card_header-container {
  max-width: 15rem;
  margin: auto;
}

.student-card_header {
  text-align: center;
}

.student-name {
  margin-left: 3.5em;

}

/* student picture */

.student-card_header-imgbox {
  display: block;
  overflow: hidden;
  margin: auto;
}

.student-card_header img {
  max-width: 100%;
}


/* header heading */

.student-card_header h1 {
  color: #f3f3f3;
  font-size: 1.5rem;
  margin-top: 0.8em;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  position: relative;
}


/* header text span */

.student-card_header h1 span {
  font-size: 1.2rem;
  font-weight: 300;
  display: block;
  color: rgba(220, 220, 220, .95);
  margin-top: 0.25em;
  padding-top: 0.25em;
  border-top: 0.075em solid rgba(250, 214, 195, 1);
}


/* about section */

.student-card_about {
  line-height: 1.5;
  padding: 1.5em 2rem;
  color: #222;
  font-family: 'Lato', sans-serif;
  margin-bottom: 3em;
}

.student-card_about h2 {
  margin: 0;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
  vertical-align: middle;
  text-align: center;
  margin-left: 2.5em;
}

.student-card_about h2::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 1rem;
  background: #c6f1eb;
  left: -6px;
  top: 50%;
  z-index: -1;
}

.student-card_about p {
  font-weight: 300;
}

.student-card_footer {
  margin-top: 1.5em;
  text-align: right;
}

/* card flip */
.flip-container {
	perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container {
  max-height: 375px;
  min-height: 350px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}
@media (min-width:1200px) {
  .parallax {
    height: 98vh;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width:800px){
  .rect {
    height: 27vh;
  }
  .rect img {
  margin-top: 8%;
  }
  .rect-left > div {
    z-index: 5;
  }
  .rect:after,
  .rect:before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
  }
  .rect-left:after {
    right: 0;
    border-left: none;
    border-bottom: none;
  }
  .rect-right:before {
    left: -100px;
    border-right: none;
    border-top: none; 
  }
  .parallax {
    height: 40vh;
  }
  #cohort-name {
    top: 50px;
  }
  #cohort-name h1 {
    font-size: 2.5rem;
  }
}