footer {
  padding-top: 2%;
  background-color: rgb(130, 130, 130);
  opacity: 0.7;
  font-size: 1.2em;
}
footer a {
  text-decoration: none;
  color: white
}

#thanks p {
  color: white;
  cursor: cell;
  text-align: center;
}

#thanks span {
  transition: color 3s;
  transition-delay: 1s;
}

#thanks span:hover {
  transition: color 0s;
}

#thanks span:nth-child(1n):hover {
  color: #A8E6CF;
}

#thanks span:nth-child(2n):hover {
  color: #DCEDC1;
}

#thanks span:nth-child(3n):hover {
  color: #FFD3B6;
}

#thanks span:nth-child(4n):hover {
  color: #FFAAA5;
}

#thanks span:nth-child(5n):hover {
  color: #FF8B94;
}


.student-icons {
    text-align: center;
}

.student-name {
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
}

.fa-linkedin-in {
    padding: 0px 20px;
    color: #0076B5;
}

.fa-github-alt {
    color: #24292e;
}

.fa-globe {
    color: #f0452d;
}

.bounce {
    position: absolute;
    bottom:0;
    margin-left:47%;
    animation: bounce 3s ease-in-out infinite; 
    -webkit-animation: bounce 3s ease-in-out infinite; 
    -moz-animation: bounce 3s ease-in-out infinite; 
    -o-animation: bounce 3s ease-in-out infinite; 
}

.bounce i {
  color: white;
  font-size: 4rem;
}

@keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-o-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}