.student-icons {
    text-align: center;
}

.student-name {
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
}

.fa-linkedin-in {
    padding: 0px 20px;
    color: #0076B5;
}

.fa-github-alt {
    color: #24292e;
}

.fa-globe {
    color: #f0452d;
}

.bounce {
    position: absolute;
    bottom:0;
    margin-left:47%;
    animation: bounce 3s ease-in-out infinite; 
    -webkit-animation: bounce 3s ease-in-out infinite; 
    -moz-animation: bounce 3s ease-in-out infinite; 
    -o-animation: bounce 3s ease-in-out infinite; 
}

.bounce i {
  color: white;
  font-size: 4rem;
}

@keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}

@-o-keyframes bounce {
  0% {
    transform: translateY(-45px);
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: initial;
    opacity: 0;
  }
}